h1 {
  color:#CD057D;
    font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 25px;
  color: red;
  text-align: center;
}
h2: hover {
  font-size: 200%;
  color: gold;
}

body {
  background-color: black;
}
